@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

:root{
    --azul1:#99D1FF;
    --azul2:#39688F;
    --beje:#F6F4F1;
    --bejeclaro:#DFC49B;
    --bejemedio:#AF9D81;
    --bejeescuro:#5B5247;
    --font1:font-family: 'Libre Baskerville', serif;;

}

*{
    padding: 0px;
    margin: 0px;
}

html{
    background-color: aliceblue;
    height: 2700px;
}
body{
    height: 2700px;
}
header{
    background-color: var(--azul1);
    color: var(--beje);
    height: 80px;
    display: block;
    
    
}
header>div>h1{
    display: inline-block;
    padding-top: 20px;
    font-variant: small-caps;
    font-size: 30pt;
    
}
header>div>nav>ul{
    list-style: none;
    columns:3;
   
}
a{
    text-decoration: none;
    color: var(--beje);
    font-weight: bold;
    text-transform: uppercase;
}
a:hover{
    transition: .3s;
    color: #5b5247d7;
}
header>div>nav{
    display: inline-block;
    vertical-align: 1vh;
    width: 215px;
    
    
}
header>div{
    margin: auto;
    width: 800px;
}
#nav2{
    margin-left: 20px;
    width: 215px;
}
section{
height: 90vh;
}
main{
   height: 2500px;
}

#tela1{

    background-image: url(imagens/fundo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 98.7vw;
    filter: blur(5px) contrast(0.9) saturate(0.6);
}
#tela1cima{
    
    position: relative;
    width: 98.7vw;
    top: -90vh;
    background-color: rgba(63, 40, 23, 0.418);
}
#tela1cima>h2{
    color: var(--beje);
    font-family: var(--font1);
    font-weight: 600;
    font-size: 40pt;
    width: 700px;
    text-align: center;
    margin: auto;
    padding-top: 25vh;
}
#tela1cima>a>h4{
    color: var(--bejeescuro);
    background-color: var(--bejeclaro);
    text-align: center;
    width: 230px;
    margin: auto;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 15pt;
    font-weight: 600;

}
#tela2{
    background-color: var(--bejeclaro);
    position: relative;
    top: -90vh;
    height: 100vh;
}
#tela2>h2{
    color: var(--azul2);
    text-align: center;
    font-size: 20pt;
    font-weight: 600;
    padding: 40px 0px 30px 0px;
}
#tela2>div{
    background-color: aliceblue;
    margin: auto;
    width: 900px;
    height: 400px;
    
}
#tela2>div>#fotinha{
    position: relative;
    padding-top: 50px;
    background-color: rgba(0, 255, 255, 0);
    width: 1220px;
    margin: auto -150px ; 
}
#tela2>div>#fotinha>img{
    padding-right: 10px;
    padding-left: 10px;
}
#nomes>h4{
    display: inline-block;
    color: var(--azul1);
    background-color: var(--bejemedio);
    width: 200px;
    font-size: 20pt;
    text-align: center;
    border-radius: 20px;
    margin-left: 100px;
    margin-right: 100px;
}
#nomes{
    padding-top: 10px;
    position: relative;
    width: 1220px;
    margin: auto -150px ; 
    
    background-color: rgba(165, 42, 42, 0);
}
#tela2>p{
    color: var(--bejeescuro);
    text-align: center;
    padding-top: 30px;
    font-size: 16pt;
    font-weight: lighter;
    font-family: var(--font1);
}
#tela3{
    background-color: rgb(13, 68, 54);
    background-image: url(imagens/fundo2.jpg);
    background-position: -20px; 
    background-attachment: fixed;
    background-size:cover ;
    position: relative;
    top: -90vh;
}
#tela4{
    background-color: blueviolet;
    background-image: url(imagens/fundo3.jpg);
    background-size: cover;
    position: relative;
    top: -90vh;
    height: 100vh;
}
footer{
    background-color: var(--bejeclaro);
    position: relative;
    top: -4vh;
    height: 150px;
}